html, body {
        margin: 8px;
 }
 
body {
        background-color: white;
        font-family: ArialMT, Arial;
        text-align: justify;
 }
 
.bordereau {
        display: block;
        color: white; 
        font-size: 120%;
        background-color: #484D7A;
        padding: 1.5em;
        text-align: justify;
}

.source {
        font-style: italic;
        font-weight: lighter;
}

h1 {
        color: black;
        font-size: 150%;
 }
 
h2 {
        color: black;
        font-size: 120%;
        margin-left: 1em;
 }
 
.contact {
        display: block;
        font-size: 120%;
        text-align: center;
        border: 2px solid #484D7A;
        padding: 0.5em;
}

p,ul,li,td {
 color: black; 
 }
a:link {
 color: #FF9940;
 text-decoration: underline;
 }
a:visited {
 color: #FF9940;
 }
a:hover {
 color: black;
 text-decoration: none;
}
a:active, a:focus {
 color: black;
}